.container {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  padding: 10px;
}

main {
  --columns: 2;

  display: grid;
  gap: 10px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding: 10px;
}

label {
  display: block;
}

input {
  width: 100%;
}

textarea {
  font-family: monospace;
  min-height: 200px;
  width: 100%;
}

.span-columns {
  grid-column: span var(--columns);
}

button {
  padding: 10px;
  width: 100%;
}

#diff-root {
  border: 1px solid grey;
  font-family: monospace;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#floating-controls {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 250px;
}

#scroll-to-next-removed {
  background-color: #ff000044;
  border: 1px solid #880000;
  color: #880000;
  cursor: pointer;
}

#scroll-to-next-added {
  background-color: #00ff0044;
  border: 1px solid #008800;
  color: #008800;
  cursor: pointer;
}

[data-diff-scrolled="true"] {
  border: 2px dashed #000000;
  line-height: 1.75rem;
  padding: 2px;
}
